table{
    width:30em;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: white;
}

th{
    background-color: #333;
    color: white;
    height: 2em;
    text-align: right;
}

td{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font: 1.25em Verdana;
    width: 2.25em;
    text-align: right;
    height: 2.25em;
    padding-right: 0.4em;
}
table td:hover{
    background-color: #BFE3F9;
    cursor: pointer;
}
h1{
    text-align: center;
    font: 3em Tahoma;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    color: #333;
}
#infoAboutPerson{
    width: 100%;
    height: 100%;
    background-color: #EEE;
}
.non-month{
    background-color: #EEE;
}
.head-title{
margin: 40px 0;
}

#calendar th{
    text-align: center;
}

#not-empty{
    background-color: red;
}